<!--
<form [formGroup]="formGroup" (ngSubmit)="login()">

<label for="user_name">Username:</label><br>
<input type="text" id="username" name="username" [formControl]="usernameControl"><br>
<label for="pwd" >Password:</label><br>
<input type="password" id="pwd" name="pwd" [formControl]="passwordControl">

</form>
<button type="submit" routerLink="/listdisplay" (click)="confirm()">Submit</button>

<button routerLink="/listdisplay">登入</button>
-->
<form >

<label for="user_name">Username:</label><br>
<input type="text" id="username" name="username"><br>
<label for="pwd" >Password:</label><br>
<input type="password" id="pwd" name="pwd" >

</form>
<button type="submit" routerLink="/listdisplay" >登入</button>